body{
    background-color: rgba(28, 61, 250, 0.582);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
