html{
  height: 100%;
}

body {
  background-color: #303841;
  margin: 0;
  font-family: "Lato", sans-serif;
  display:flex;
  flex-direction: column;
  min-height: 100%;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.timer-contents {
  background-color: #f6c90e;
  border-radius: 2rem;
  width: 600px;
  max-width: 95%;
  margin: 1rem;
}

.header {
  background-color: #f6c90e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
}

.header h1 {
  font-size: 3rem;
  color: rgb(20, 20, 20);
  margin: 0;
  font-family: "Pattaya", sans-serif;
}

#status,
#timer,
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer {
  font-size: 10rem;
  margin: 1rem;
  color: #303841;
}

#status {
  font-size: 4rem;
  color: #303841;
  margin: 1rem;
  font-family: "Pattaya", sans-serif;
}

.button {
  text-decoration: none;
  border: 3px solid #fff;
  border-radius: 4rem;
  cursor: pointer;
  padding: 20px;
  background-color: #303841;
  height: 100px;
  width: 100px;
  margin: 2% 5%;
}

.button img {
  height: 40px;
}

.button:hover {
  background-color: rgb(40, 40, 40);
}

.settings {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) /*scale(0) = Invisible*/;
  background-color: #fff;
  border-radius: 1rem;
  box-sizing: border-box;
  z-index: 10;
  width: 95%;
  max-width: 400px;
}

.settings-inner{
  padding: 20px 20px  0;
}

.settings.active {
  transform: translate(-50%, -50%) scale(1);
}

.settings-header {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.settings-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.close-button:hover {
  color: rgb(209, 56, 56);
}

.timer-settings-outer{
  padding: 10px 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0 10px;
}

.timer-settings {
  max-width: 30%;
  margin: 0;
}

.time-selector {
  border-radius: 2px;
  background-color: rgb(240, 240, 240);
  font-size: 1rem;
  padding: 10px;
  border: medium none;
  color: rgb(85, 85, 85);
  width: 100%;
  box-shadow:none;
}

.time-selector:focus{
  outline: none;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

.footer{
  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 6rem;
  background-color: 3a4750;
  margin-top: auto;
}

.footer a{
  color: rgb(255, 255, 255);
}