body {
    background-color: #1c3dfa94;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-contents{
    background-color: #0000004b;
    border-radius: 2rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#status {
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: rgba(255, 0, 0, 0);
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 3rem;
    cursor: pointer;
    padding: 20px;
    background-color:black;
}

.button img{
    height: 30px;
}