body {
    background-color: #1c3dfa94;
}

.timer-outer {
    background-color: #0000004b;
    margin: 0 33%;
    border-radius: 2rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: rgba(255, 0, 0, 0);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    padding: 20px;
    background-color:black;
}

.button img{
    height: 30px;
}